<mat-toolbar>
  <span>{{employeeService.form.controls['id'].value?'Update Employee':'New Employee'}}</span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="employeeService.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controls-container">
        <input type="hidden" formControlName="id">
        <mat-form-field>
          <input formControlName="firstName" matInput placeholder="First Name*">
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="lastName" matInput placeholder="Last Name*">
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email*">
          <mat-error *ngIf="employeeService.form.controls['email'].errors?.required">This field is required</mat-error>
          <mat-error *ngIf="employeeService.form.controls['email'].errors?.email">Invalid email address</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="phone" matInput placeholder="Phone*">
          <mat-error *ngIf="employeeService.form.controls['phone'].errors?.required">This field is required</mat-error>
          <mat-error *ngIf="employeeService.form.controls['phone'].errors?.minlength">Minimum of 8 numbers required</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controls-container">
        <mat-form-field>
          <input formControlName="taxNumber" matInput placeholder="Tax Number*">
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="employmentType" placeholder="Employment Type*">
            <mat-option value="Permanent">Permanent</mat-option>
            <mat-option value="Part Time">Part Time</mat-option>
          </mat-select>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="department" placeholder="Department*">
            <mat-option value="IT">IT</mat-option>
            <mat-option value="Finance">Finance</mat-option>
            <mat-option value="HR">HR</mat-option>
          </mat-select>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="role" placeholder="Role*">
            <mat-option value="Software Developer">Software Developer</mat-option>
            <mat-option value="Tech Support">Tech Support</mat-option>
            <mat-option value="Database Admin">Database Admin</mat-option>
            <mat-option value="Employee Support">Employee Support</mat-option>
            <mat-option value="HR Manager">HR Manager</mat-option>
            <mat-option value="HR Admin">HR Admin</mat-option>
            <mat-option value="Financial Admin">Financial Admin</mat-option>
            <mat-option value="Accountant">Accountant</mat-option>
            <mat-option value="Business Analyst">Business Analyst</mat-option>
          </mat-select>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="button-row">
    <button mat-raised-button color="primary" type="submit" [disabled]="employeeService.form.invalid">Submit</button>
    <button mat-raised-button color="warn" (click)="clearForm()">Clear</button>
  </div>
</form>
