<div class="panel panel-primary">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
<!--        <th>Tax Number</th>-->
        <th>Employment Type</th>
        <th>Department</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees | async">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.phone}}</td>
<!--        <td>{{employee.taxNumber}}</td>-->
        <td>{{employee.employmentType}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.role}}</td>
        <td>
          <button (click)="employeeDetails(employee.id)" class="btn btn-info" >Details</button>
          <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="  margin-left: 10px">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
